<div class="wrapper center">
  <ul class="nav clearfix">
    <li>
      <a class="sm-link" target="_blank" href="https://www.facebook.com/coveredinsnowband/"><span class="sr-only">Facebook</span><img src="img/fb-logo.svg" /> </a>
    </li>
    <li>
      <a class="sm-link" target="_blank" href="https://www.instagram.com/coveredinsnowband/"><span class="sr-only">Instagram</span><img src="img/insta-logo.svg" /> </a>
    </li>
    <li>
      <a class="sm-link" target="_blank" href="https://open.spotify.com/artist/5vLvTcyMJ6nc7MRWBLv9fX"><span class="sr-only">Spotify</span><img src="img/spotify-logo.svg" /> </a>
    </li>
    <li>
      <a class="sm-link" target="_blank" href="https://soundcloud.com/user-546323826/"><span class="sr-only">Soundcloud</span><img src="img/soundcloud-logo.svg" /> </a>
    </li>
  </ul>

  <div class="logo"><h1 class="sr-only">Covered in Snow</h1><img src="img/logo.svg" /></div>
</div>
