@import variables
@import reset
@import utils
@import url('https://fonts.googleapis.com/css?family=Lato:300,400|PT+Sans+Narrow:400,700')

*
  +box-sizing(border-box)
  -webkit-font-smoothing: antialiased

html
  font-size: 16px

body
  background: linear-gradient(120deg, $color-bg-gradient-dark, $color-bg-gradient-light) 100% 100%
  overflow-x: hidden

.contain
  max-width: 1000px
  min-height: 100vh
  margin: 0 auto
  position: relative
  display: flex
  flex-direction: column

.page-content
  flex-grow: 1

footer
  margin-top: 50px

  section
    border: none

.nav
  display: flex
  padding: 0 0px
  li
    display: flex
    align-items: center
    justify-content: center

.sm-link
  padding: 18px 1px 18px 17px
  @media screen and (min-width: 480px)
    padding: 18px 17px

.logo
  position: absolute
  right: 0
  top: 0
  width: 60px

  @media screen and (min-width: 610px)
    width: auto
    right: 17px
    top: 17px

  img
    max-width: 100%

.post
  padding: 50px 17px

.post-header
  display: flex
  flex-direction: column
  color: $color-body
  margin-bottom: 40px

  strong
    padding: 10px 0
    text-transform: uppercase
    font-family: $font-header
    font-weight: 700
    font-size: 1.8rem

.post-header__logo
  width: 254px

  @media screen and (min-width: 480px)
    width: 100%

  img
    max-width: 100%

.link-list
  li
    display: block
    margin-bottom: 15px

.dul-link
  text-decoration: none
  color: $color-body
  padding: 10px 0 9px
  border-bottom: 1px solid $color-body
  position: relative
  display: inline-block
  width: 253px
  font-family: $font-links
  font-size: 1.2rem

  &:after
    content: ""
    border-bottom: 1px solid $color-body
    position: absolute
    bottom: 2px
    left: 0
    right: 0

  &--uc
    text-transform: uppercase
    font-size: 1.3rem

.site-footer
  padding: 17px

.moon
  position: absolute
  bottom: 0
  right: 0
  z-index: -1
  width: 800px
  max-width: 100%
  overflow: hidden

  @media screen and (min-width: 1000px)
    overflow: visible

  img
    transform: translate(70%, 40%)

    @media screen and (min-width: 480px)
      transform: translate(30%, 40%)

    @media screen and (min-width: 1000px)
      transform: translate(30%, 0%)


    width: 100%

// ------------
// Utility
// ------------
.clearfix
  overflow: hidden

.sr-only
  position: absolute
  width: 1px
  height: 1px
  margin: -1px
  padding: 0
  overflow: hidden
  clip: rect(0,0,0,0)
  border: 0
